.Card:hover{
    transform: scale(1.2);
}
.container-card1{
    position: relative;
    width: 350px;
    height: 341px;
    background-color: black;
    color: rgb(255, 255, 255);
}
.container-image1{
    position: relative;
    width: 350px;
    height: 320px;
    overflow: hidden;
}

.container-card2{
    position: relative;
    width: 257px;
    height: 392px;
    background-color: black;
    color: white;
}
.container-card2 .container-image2{
    position: relative;
    width: 256px;
    height: 315px;
    overflow: hidden;
}
.container-card1 p{
    margin: 0.4rem 0;
    font-size: 24px;
}
.container-card2 p{
    margin: 0.4rem 0;
    font-size: 16px;
}
.time{
    position: absolute;
    z-index: 20;
    top: 5px;
    left: 0;
}

.container-card1 .info{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}
.container-card2 .info{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}