
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  
