.tagHD{
    display: inline-block;
    border-radius: 5px;
    background-color: #FF0000;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 32px; 
    height: 34px;
    padding: 4px;
    margin-top: 10;
}

.tagTime{
    display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #f44336;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 83px; 
    height: 34px;
    padding: 2px;
    margin-left: 10px;   
}

.tagSeason{
    display: inline-block;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #f44336;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 83px; 
    height: 34px;
    padding: 2px;
    margin-left: 10px; 
}

.tagCategory{
    display: inline-block;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 16px;
    width: 83px; 
    height: 34px;
    padding: 2px;
    margin-left: 10px;
}

.tagDate{
    display: inline-block;
    border-radius: 5px;
    color: #FFFFFF;
  
}

.tagRating{  
    color: #FFFFFF;
}

.container-iconTagbar {
    display:flex;
    padding: 10px 10px;
}
